.list-detail {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.5;
  }

  &__description-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__description {
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__footer {
    font-size: 12px;
  }
}