.input-search {
    position: relative;

    &__input {
      width: 100%;
      padding: 8px 56px 8px 16px;
      border: 1px solid var(--color-border);
      border-radius: 8px;
    }

    &__button {
      position: absolute;
      right: 0;
      width: 40px;
      height: 100%;
      color: var(--vt-c-white);
      cursor: pointer;
      background-color: var(--vt-c-mariner);
      border-radius: 0 8px 8px 0;

      &:hover {
        opacity: 0.7;
      }
    }
  }