.infinite-scroll-list {
  overflow-y: scroll;

  &__only-text {
    display: inline-block;
  }

  &__spinner {
    &-wrapper {
      display: flex;
      justify-content: center;
      padding: 16px 0;
    }
  }
}