.tag {
  padding: 4px 8px;
  border-radius: 8px;

  &:hover {
    background-color: var(--color-background-tag-hover);
  }

  &--border,&--color {
    &-normal {
      border: 1px solid var(--color-border);
    }
  }

  &--color {
    &-normal {
      background-color: var(--color-background-tag);

      &:hover {
        background-color: var(--color-background-tag-hover);
      }
    }
  }
}
