.list-item {
  &__large_text {
    font-size: 40px;
  }

  &__img {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
  }

  &__description {
    margin-left: 16px;
  }

  &__link {
    position: relative;
    z-index: 1;
  }

  &__sub-text {
    display: block;
    font-size: 12px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 100%;
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__number-text {
    display: inline-block;
    margin-left: 8px;
  }
}
