.list-item {
  &__img {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: contain;
  }

  &__description {
    margin-left: 16px;
  }

  &__link {
    position: relative;
    z-index: 1;
  }

  &__sub-text {
    display: block;
    font-size: 12px;
  }

  &__title {
    font-size: 100%;
  }

  &__tag-list {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
    list-style: none;
  }

  &__tag-item {
    position: relative;
    z-index: 1;
  }

  &__tag-link {
    color: var(--color-text);

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: var(--color-text);
    }
  }

  &__number {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__number-text {
    display: inline-block;
    margin-left: 8px;
  }
}